    .order-text {
    padding: 0 15px 0 15px;
    font-size: 1.3rem;
  }
  
  .order-items-delivery {
    display: flex;
    flex-direction: column;
    margin: 15px 15px 0 15px;
    border-radius: 5px 5px 0 0;
    border: 1px solid var(--color-dark);
    border-bottom: none;
  }
  
  .menu-item-delivery {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--color-dark);
    padding: 10px;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .item-number-delivery {
    width: 10%;
    font-weight: 600;
    font-size: medium;
    text-align: center;
  }
  
  .item-name-delivery {
    width: 65%;
    padding-left: 10px;
    font-size: large;
  }
  
  .item-price-delivery {
    width: 25%;
    font-weight: 600;
    font-size: medium;
    padding: 0 5px 0 5px;
    text-align: center;
  }
  
  .order-total-delivery {
    margin: 0 15px 15px 15px;
    border: 1px solid var(--color-dark);
    border-top: none;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-light);
  }
  
  .all-price-number-delivery, .all-price-text-delivery {
    font-weight: 600;
    font-size: large;
  }

  .confirm-delivery-categories {
    display: flex;
    flex-direction: column;
    margin: 15px;
    gap: 15px;
  }

  .confirm-delivery-category {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .delivery-category-title {
    font-size: 1rem;
  }

  .confirm-delivery-category-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #row-category {
    width: calc(33% - 5px);
  }

  .delivery-select {
    padding: 10px;
    border: 1px solid var(--color-dark);
    border-radius: 5px;
  }

  .delivery-input {
    padding: 10px;
    border: 1px solid var(--color-dark);
    border-radius: 5px;
  }

  .confirm-delivery-button {
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    width: calc(100% - 30px);
  }

  .customer-contacts {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: var(--color-light);
    border-bottom: 1px solid var(--color-dark);
    border-top: 1px solid var(--color-dark);
    gap: 15px;
  }

  .customer-contacts-title {
    font-size: 1.3rem;
    font-weight: 650;
  }

  .customer-contacts-group {
    display: flex;
    flex-direction: column;
  }

  .group-title {
    font-weight: 550;
    padding: 4px 0 4px 0;
  }

  .no-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: none;
  }

  .empty-cart {
    font-size: larger;
    text-align: center;
    padding: 20px;
  }

  .exit {
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-size: large;
  }

  .empty-cart-img {
    margin-top: 15px;
    width: 3rem;
    height: auto;
  }

  @media(min-width: 1024px) {
    .customer-contacts {
      border: none;
    }
  }