.homepage {
  margin: 0;
  padding: 0;
}
  
.main-homepage {
  padding: 0;
}
  
.img-section {
  position: relative;
}

.title-section {
  display: flex;
  padding: 15px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
  
.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}
  
.rest-image {
  width: 100%;
  height: auto;
  display: block;
}

.rest-title {
  display: flex;
  align-items: flex-start;
  font-weight: 1000; 
}

.category-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--color-light);
  padding: 15px 10px 15px 10px;
  border-bottom: 1px solid var(--color-dark);
  border-top: 1px solid var(--color-dark);
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid var(--color-dark);
  border-radius: 5px;
  padding: 15px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 4rem;
  color: var(--text-color);
}
  
.right-arrow {
  margin-left: auto;
}
  
.information {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 15px;
}
  
.info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: relative;
  height: 3rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
  
.info-title {
  color: var(--text-color-gray);
  font-size: 0.875rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.sm-text {
  font-size: 1.2rem;
  font-weight: 600;
}