body {
  margin: 0;
  padding: 0;
  align-items: flex-start;
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", serif;
}

button, a {
  cursor: pointer;
}

select, input {
  color: var(--text-color);
  background-color: white;
  height: 3rem;
  font-size: 14px;
}

.page, .page-feedback {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  background-color: var(--color-light);
  border-bottom: 1px solid var(--color-dark);
  position: relative;
}

.page-title {
  font-weight: 500;
  position: absolute; 
  left: 50%;
  transform: translateX(-50%); 
  white-space: nowrap;
}

/* #long {
  justify-content: flex-start;
  gap: 15px;
} */

.main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.page-title-long {
  display: flex;
  text-align: center;
}

.copy-svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: auto;
}

.elem-svg, .right-arrow, .search-svg, .left-svg {
  width: 1.3rem;
  height: 1.3rem;
} 

.elem-svg, .final-elem-svg {
  width: 2rem;
  height: 2rem; 
  margin-right: 0.75rem;
  background-color: var(--color-light);
  border-radius: 5px;
  padding: 7px;
  box-sizing: border-box; 
  border: 1px solid var(--color-dark);
}

.final-elem-svg {
  background: white;
}

.icon {
  background: white;
  border: 1px solid var(--color-dark);
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-button {
  border: none;
  background-color: white;
  color: var(--text-color-gray);
  padding: 0;
  margin: 0;
}

.copy-notification {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: var(--primary-color);
  border-radius: 35px;
  position: fixed;
  padding: 10px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  border: 1px solid var(--primary-color);
  font-size: medium;
  z-index: 2000;
}

.schedule {
  border: none;
  background: none;
  margin-left: auto;
  font-size: 1rem;
  color: var(--text-color);
}

.shedule-svg {
  width: 1.2rem;
  height: auto;
}

.plus-svg {
  width: 1rem;
  height: auto;
}

.popup {
  position: absolute;
  bottom: 100%;
  right: 0;
  background: white;
  border: 1px solid var(--color-dark);
  border-radius: 5px;
  z-index: 10;
  width: max-content;
  padding: 10px;
}

.popup-item {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--color-dark);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  gap: 50px;
  margin-bottom: 5px;
}

.popup-item.highlight {
  background: var(--primary-color);
  font-weight: bold;
  color: white;
}

.close-button-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.close-svg {
  width: 2rem;
  height: auto;
}

.dialog-menu-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dialog-item-photo {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.header-search {
  justify-content: flex-start;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--color-dark);
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  height: 40px;
}

.search-delete-svg {
  width: 1.3rem;
  height: auto;
}

.nothing-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-bottom: 1px solid var(--color-dark);
}

.order-total {
  padding: 15px;
  border-bottom: 1px solid var(--color-dark);
  background-color: var(--color-light);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.next-button {
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  width: calc(100% - 30px);
}

.comment-section {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.comment-title {
  font-size: larger;
  font-weight: 600;
}

.comment {
  width: 100%;
  border: 1px solid var(--color-dark);
  border-radius: 5px;
  padding: 10px;
}

.bottom {
  border-top: 1px solid var(--color-dark);
  width: 100%;
  height: 75px;
}

.feedback-title {
  padding: 15px;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.feedback-input-section {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
  border-bottom: 1px solid var(--color-dark);
  border-top: 1px solid var(--color-dark);
}

.feedback-input {
  height: 2.8rem;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--color-dark);
  font-weight: 500;
  color: var(--text-color-gray);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

.feedback-textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--color-dark);
  font-weight: 500;
  font-size: 1rem;
  color: var(--text-color-gray);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.feedback-input-title {
  color: var(--text-color-gray);
  font-size: 1.1rem;
  font-weight: 500;
}

.stars-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.stars {
  display: flex;
  gap: 5px;
  font-size: 30px;
  cursor: pointer;
}

.star-service, .star-dish {
  color: lightgray;
  transition: color 0.3s;
}

.star-service.active, .star-dish.active {
  color: var(--primary-color);
}

.hint {
  color: var(--text-color-gray);
  text-align: center;
  font-size: small;
  margin-bottom: 15px;
}

.feedback-button:disabled {
  background-color: var(--color-light);
  color: var(--primary-color);
}

.feedback-button {
  border-radius: 5px;
  padding: 15px;
  border: none;
  color: white;
  background-color: var(--primary-color);
  font-size: large;
}

.feedback-comment {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark);
  border-radius: 5px;
  padding: 15px;
  width: 70%;
  margin-bottom: 15px;
}

.feedback-comment-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid var(--color-dark);
}

.page-feedback {
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) { 
  .information {
    padding-left: 250px;
  }

  .information-right {
    padding-right: 250px;
  }

  .feedback-input-section {
    padding-left: 250px;
    padding-right: 250px;
    border: none;
  }

  .feedback-stars-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .copy-notification {
    bottom: 30px;
    left: 250px;
    right: 250px;
  }
}