@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
  font-family: "Comfortaa", serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #a42b04;
  --color-dark: #dadada8a;
  --color-light: #e2d8d645;
  --text-color-gray: #525252;
  --text-color: rgb(60 22 11);
}

input:focus, textarea:focus, select:focus {
  border-color: var(--primary-color);
  outline: none;
}